<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FirstName</key>
		<string>Михаил</string>
		<key>LastName</key>
		<string>Васильев</string>
		<key>MiddleName</key>
		<string>Николаевич</string>
		<key>Photo</key>
		<string>1</string>
		<key>Phone</key>
		<string>89897654321</string>
		<key>WorkPhone</key>
		<string>123451</string>
		<key>Position</key>
		<string>Менеджер</string>
	</dict>
	<dict>
		<key>FirstName</key>
		<string>Иван</string>
		<key>LastName</key>
		<string>Дуров</string>
		<key>MiddleName</key>
		<string>Александрович</string>
		<key>Photo</key>
		<string>2</string>
		<key>Phone</key>
		<string>89897654322</string>
		<key>WorkPhone</key>
		<string>123452</string>
		<key>Position</key>
		<string>Программист</string>
	</dict>
	<dict>
		<key>FirstName</key>
		<string>Маргарита</string>
		<key>LastName</key>
		<string>Лебедева</string>
		<key>MiddleName</key>
		<string></string>
		<key>Photo</key>
		<string>3</string>
		<key>Phone</key>
		<string>89897654323</string>
		<key>WorkPhone</key>
		<string>123453</string>
		<key>Position</key>
		<string>Дизайнер</string>
	</dict>
	<dict>
		<key>FirstName</key>
		<string>Елена</string>
		<key>LastName</key>
		<string>Смирнова</string>
		<key>MiddleName</key>
		<string>Петровна</string>
		<key>Photo</key>
		<string>4</string>
		<key>Phone</key>
		<string>89897654324</string>
		<key>WorkPhone</key>
		<string>123454</string>
		<key>Position</key>
		<string>Руководитель отдела</string>
	</dict>
	<dict>
		<key>FirstName</key>
		<string>Алена</string>
		<key>LastName</key>
		<string>Соколова</string>
		<key>MiddleName</key>
		<string>Алексеевна</string>
		<key>Photo</key>
		<string>5</string>
		<key>Phone</key>
		<string>89897654325</string>
		<key>WorkPhone</key>
		<string>123455</string>
		<key>Position</key>
		<string>Офис-менеджер</string>
	</dict>
</array>
</plist>
