<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FirstName</key>
		<string>Таня</string>
		<key>LastName</key>
		<string>Николаева</string>
		<key>MiddleName</key>
		<string></string>
		<key>Photo</key>
		<string>6</string>
		<key>Phone</key>
		<string>89897654326</string>
		<key>Birthday</key>
		<string>13.10.1990</string>
	</dict>
	<dict>
		<key>FirstName</key>
		<string>Ксения</string>
		<key>LastName</key>
		<string>Новикова</string>
		<key>MiddleName</key>
		<string></string>
		<key>Photo</key>
		<string>7</string>
		<key>Phone</key>
		<string>89897654327</string>
		<key>Birthday</key>
		<string>14.11.1991</string>
	</dict>
	<dict>
		<key>FirstName</key>
		<string>Нина</string>
		<key>LastName</key>
		<string>Козлова</string>
		<key>MiddleName</key>
		<string>Сергеевна</string>
		<key>Photo</key>
		<string>8</string>
		<key>Phone</key>
		<string>89897654328</string>
		<key>Birthday</key>
		<string>15.12.1992</string>
	</dict>
	<dict>
		<key>FirstName</key>
		<string>Дима</string>
		<key>LastName</key>
		<string>Попов</string>
		<key>MiddleName</key>
		<string></string>
		<key>Photo</key>
		<string>9</string>
		<key>Phone</key>
		<string>89897654329</string>
		<key>Birthday</key>
		<string>1.01.1993</string>
	</dict>
	<dict>
		<key>FirstName</key>
		<string>Паша</string>
		<key>LastName</key>
		<string>Лебедев</string>
		<key>MiddleName</key>
		<string></string>
		<key>Photo</key>
		<string>10</string>
		<key>Phone</key>
		<string>89897654330</string>
		<key>Birthday</key>
		<string>5.07.1994</string>
	</dict>
</array>
</plist>
